<div class="container">
    <div class="text-center" style="margin-top: 20%">
        <h3>{{this.timerService.subscribeTimer}}</h3>
            <button class="btn btn-primary" style="margin-right: 5%" (click)="startTimer()"
            >Start
            </button>
            <button class="btn btn-secondary" (click)="stopTimer()" >Stop</button>
            <button class="btn btn-warning" (click)="waitTimer()" style="margin-left: 5%">Wait</button>
            <button class="btn btn-danger" (click)="resetTimer()" style="margin-left: 5%">Reset</button>
    </div>
    <div class="text-center" style="margin-top: 20%">
        <input #timerInput class="input-group-sm" type="time" placeholder="write time" step="2">
        <br>
        <br>
        <button class="btn btn-success" (click)="toTimer()">Add time</button>
    </div>
</div>
